<div class="card center">
  <div class="card-body center" >
  
    <h1> Inicio de sesión </h1>
  <form>
  <div class="form-group row">
    <div class="col-sm-10">

<mat-form-field appearance="fill">
  <mat-select>
    <mat-option value="Cliente">Cliente</mat-option>
    <mat-option value="Tendero">Tendero</mat-option>
  </mat-select>
</mat-form-field>
    
    <mat-form-field >
      <input matInput type="email" placeholder="Correo" required>
    </mat-form-field>

    <br/>
    
    <mat-form-field >
      <input matInput type="password" placeholder="Contraseña" required>
    </mat-form-field>

    </div>
  </div>
</form>
    
    <button mat-raised-button color="accent">Iniciar sesion</button>
  </div>
</div>