<div class="card center">
  <div class="card-body center" >
  
    <h1> Inicio de sesión </h1>
  <form>
  <div class="form-group row">
    <div class="col-sm-10">
    
    <mat-form-field >
      <input matInput placeholder="Correo" required>
    </mat-form-field>

    <br/>
    
    <mat-form-field >
      <input matInput type="password" placeholder="Contraseña" required>
    </mat-form-field>

    </div>
  </div>
</form>
    
    <button mat-raised-button color="accent">Iniciar sesion</button>
  </div>
</div>